
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Management</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


 <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand"><img src="https://s3-media4.fl.yelpcdn.com/bphoto/p3ORLgh51s-t1m-_j7geZQ/l.jpg" width=""40" height="40"></a>


</nav>

    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<!--
<ul>
  <li><a href="#"><img src="https://s3-media4.fl.yelpcdn.com/bphoto/p3ORLgh51s-t1m-_j7geZQ/l.jpg" width="70" height="30"</a></li>&nbsp;

  <li><a href="http://localhost:8000/website/addProject">Add Project</a></li>
  <li><a href="http://localhost:8000/website/addTask">Message</a></li>
    <li><a href="http://localhost:8000/website/addTask">Report</a></li>
</ul>-->

<body background="https://st2.depositphotos.com/1747568/11982/v/950/depositphotos_119822948-stock-illustration-polygonal-light-background-can-be.jpg">
<br><br>
<p></p>

     <h1 class="display-4">Welcome to the Manager Panel!</h1>



<p></p>
<p></p>

<br>
<br>
<br><br><br>
<br>
<br>
<br>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


<div class="row w-100">
        <div class="col-md-4">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title"><strong>View All Projects</strong></h4>
                 <a href="http://localhost:8000/website/viewallprojects" class="btn btn-primary">Click</a>
                 </div>
            </div>
            </div>
        </div>

    <div class="col-md-4">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title"><strong>Add Project</strong></h4>
                 <a href="http://localhost:8000/website/addProject" class="btn btn-primary">Click</a>
                 </div>
            </div>
            </div>
        </div>

    <div class="col-md-4">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title"><strong>Messages</strong></h4>
                 <a href="http://localhost:8000/website/messages" class="btn btn-primary">Click</a>
                 </div>
            </div>
            </div>
        </div>

    <div class="col-md-4">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title"><strong>Tasks</strong></h4>
                 <a href="http://localhost:8000/website/mytasks" class="btn btn-primary">Click</a>
                 </div>
            </div>
            </div>
        </div>


    <div class="col-md-4">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title"><strong>Report</strong></h4>
                 <a href="http://localhost:8000/website/viewallprojects" class="btn btn-primary">Click</a>
                 </div>
            </div>
            </div>
        </div>


</div>


</body>


{% block  content  %}

{% endblock %}



</html>